$background-dark: #202020;
$contentColorDark: #323232;
$contentColorLight: whitesmoke;
$background-light: white;
$themeColor: #94BDED;
$icon-btn-sizes: ("small": 20px , "medium" : 40px , "large" : 50px);
$borderRadiusSmall: 8px;
$borderRadius: 18px;