@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: black;
  font-family: 'El Messiri', 'Ubuntu' ,  sans-serif;
  // font-family: 'Ubuntu', sans-serif;
}