@import './colors';
@import './mixins';
@import './fonts';

@include space-list;
@include flexbox;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Monocraft', sans-serif;
  font-weight: bold
}

#app {
  @include grid-center;
  background: whitesmoke;
  width: 100%;
  height: 100vh;
  h1 {
    color: $themeColor;
  }
}