@import './colors';
@import './mixins';
@import './fonts';

@include space-list;
@include flexbox;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Monocraft', sans-serif;
  font-weight: bold
}

#app {
  @include grid-center;
  background: $background-color;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;
  h1 {
    color: $titleColor;
    margin-bottom: 10px;
  }
  p {
    color: $text-color;
  }
  a {
    color: $link-color;
    border-bottom: 2px solid $link-color;
    &:hover {
      background: $link-color;
      color: $text-black;
    }
  }
}